/* The fieldset of operations (+, -, *, /) */
#operations_form {
	width: 60px;
	float: left;
	margin: 10px;
}

/* The two input boxes and the submit button */
.float-left {
	float: left;
	margin-top: 120px;
}

/* The results line */
#Result {
	clear: left;	
}