@import url(https://fonts.googleapis.com/css?family=Thasadith);

html {
	font-family: 'Thasadith', sans-serif;
}

#header {
	text-align: center;
}

#web_projects {
	position: absolute;
	float: left;
	left: 20%;
}

#links {
	float: left;
	left: 20%;
}